h1 {
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  width: 30%;
  background-color: orange;
  color: white;
  text-align: center;

}
body {
  background-color:whitesmoke;
}
.card {
  width: 30%;
  background-color: white;
  color:orange;
  text-align: center;
  padding: 10px;

}
#number-to-guess {
  background-color:orange;
  width: 30%;
  margin: 5px;
  padding: 20px;
  color:white;
  overflow: fixed;
}
.container {
  background-color:orange;
  width: 30%;
  margin: 5px;
  padding: 10px;
  color:white;
}
#crystals-img {
  display: inline-block;
  padding: 2px;
  width: 20%;
  
}
.container1 {
  background-color:orange;
  width: 30%;
  margin: 5px;
  padding: 5px;
  color:white;
}
.total-number {
  background-color:orange;
  width: 30%;
  margin: 5px;
  padding: 70px;
  color: white;
}